{% extends "ausleihe/base.html" %}

{% block content %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a href="{% url 'ausleihe:home' %}">Start</a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="{% url 'ausleihe:buch-list' %}">Bücher</a></li>
      {% if perms.ausleihe.add_leihe %}
      <li class="breadcrumb-item" aria-current="page"><a href="{% url 'ausleihe:verleihen' %}">Verleihen</a></li>
      {% endif %}
    </ol>
  </nav>
</div>
{% endblock content %}
